---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/Fuseit/FuseTube/tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 82532d9ea82789b2e26e89e8fac740398d88a5b0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1579594353'
      Etag:
      - W/"64387d1fed3aa6795372120460071a7b"
      Last-Modified:
      - Mon, 20 Jan 2020 16:37:28 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/1695720/tags?page=2>; rel="next", <https://api.github.com/repositories/1695720/tags?page=25>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"v3.57.1-pre.1","zipball_url":"https://api.github.com/repos/Fuseit/FuseTube/zipball/v3.57.1-pre.1","tarball_url":"https://api.github.com/repos/Fuseit/FuseTube/tarball/v3.57.1-pre.1","commit":{"sha":"db651dd2e0fcb0e9367a08ac73a312fd9e4db448","url":"https://api.github.com/repos/Fuseit/FuseTube/commits/db651dd2e0fcb0e9367a08ac73a312fd9e4db448"},"node_id":"MDM6UmVmMTY5NTcyMDp2My41Ny4xLXByZS4x"},{"name":"v3.57.0-pre.0","zipball_url":"https://api.github.com/repos/Fuseit/FuseTube/zipball/v3.57.0-pre.0","tarball_url":"https://api.github.com/repos/Fuseit/FuseTube/tarball/v3.57.0-pre.0","commit":{"sha":"4a487dc41b32548aa953239b6050e96e042fa749","url":"https://api.github.com/repos/Fuseit/FuseTube/commits/4a487dc41b32548aa953239b6050e96e042fa749"},"node_id":"MDM6UmVmMTY5NTcyMDp2My41Ny4wLXByZS4w"},{"name":"v3.56.8","zipball_url":"https://api.github.com/re[...]
