---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/Fuseit/FuseTube/releases/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 82532d9ea82789b2e26e89e8fac740398d88a5b0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"365832f0fd86b27276827a33ce342833db0a0032ae08bb698b5c573d17856808"
      Last-Modified:
      - Wed, 16 Sep 2020 11:29:19 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1600956106'
      X-Ratelimit-Used:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/Fuseit/FuseTube/releases/31393903","assets_url":"https://api.github.com/repos/Fuseit/FuseTube/releases/31393903/assets","upload_url":"https://uploads.github.com/repos/Fuseit/FuseTube/releases/31393903/assets{?name,label}","html_url":"https://github.com/Fuseit/FuseTube/releases/tag/v3.57.1-pre.1","id":31393903,"node_id":"MDc6UmVsZWFzZTMxMzkzOTAz","tag_name":"v3.57.1-pre.1","target_commitish":"master","name":"v3.57.1-pre.1","draft":false,"author":{"login":"Hedi84","id":37661027,"node_id":"MDQ6VXNlcjM3NjYxMDI3","avatar_url":"https://avatars3.githubusercontent.com/u/37661027?v=4","gravatar_id":"","url":"https://api.github.com/users/Hedi84","html_url":"https://github.com/Hedi84","followers_url":"https://api.github.com/users/Hedi84/followers","following_url":"https://api.github.com/users/Hedi84/following{/other_user}","gists_url":"https://api.github.com/users/Hedi84/gists{/gist_id}","starred_url":"https://api.github.com/users/Hedi84/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Hedi84/subscriptions","organizations_url":"https://api.github.com/users/Hedi84/orgs","repos_url":"https://api.github.com/users/Hedi84/repos","events_url":"https://api.github.com/users/Hedi84/events{/privacy}","received_events_url":"https://api.github.com/users/Hedi84/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2020-09-16T11:18:33Z","published_at":"2020-09-16T11:29:19Z","assets":[],"tarball_url":"https://api.github.com/repos/Fuseit/FuseTube/tarball/v3.57.1-pre.1","zipball_url":"https://api.github.com/repos/Fuseit/FuseTube/zipball/v3.57.1-pre.1"}'
  recorded_at: Thu, 24 Sep 2020 13:38:51 GMT
recorded_with: VCR 5.1.0
