---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/Fuseit/FuseTube/releases?access_token=123token123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 123token123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4963'
      X-Ratelimit-Reset:
      - '1529680904'
      Etag:
      - W/"ab5f95da5654daca45391fde1f6df7b1"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/1695720/releases?access_token=123token123&page=2>;
        rel="next", <https://api.github.com/repositories/1695720/releases?access_token=123token123&page=17>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/Fuseit/FuseTube/releases/11486051","assets_url":"https://api.github.com/repos/Fuseit/FuseTube/releases/11486051/assets","upload_url":"https://uploads.github.com/repos/Fuseit/FuseTube/releases/11486051/assets{?name,label}","html_url":"https://github.com/Fuseit/FuseTube/releases/tag/v3.45-0-pre2","id":11486051,"node_id":"MDc6UmVsZWFzZTExNDg2MDUx","tag_name":"v3.45-0-pre2","target_commitish":"release-3.45","name":"v3.45.0-pre2
        - 2018-06-14","draft":false,"author":{"login":"fatbeard2","id":5956619,"node_id":"MDQ6VXNlcjU5NTY2MTk=","avatar_url":"https://avatars1.githubusercontent.com/u/5956619?v=4","gravatar_id":"","url":"https://api.github.com/users/fatbeard2","html_url":"https://github.com/fatbeard2","followers_url":"https://api.github.com/users/fatbeard2/followers","following_url":"https://api.github.com/users/fatbeard2/following{/other_user}","gists_url":"https://api.github.com/users/fatbeard2/gists{/gist_id}","starred_url":"https://api.github.com/users/fatbeard2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/fatbeard2/subscriptions","organizations_url":"https://api.github.com/users/fatbeard2/orgs","repos_url":"https://api.github.com/users/fatbeard2/repos","events_url":"https://api.github.com/users/fatbeard2/events{/privacy}","received_events_url":"https://api.github.com/users/fatbeard2/received_events","type":"User","site_admin":false},"prerelease":true,"created_at":"2018-06-14T16:48:39Z","published_at":"2018-06-14T19:22:19Z","assets":[],"tarball_url":"https://api.github.com/repos/Fuseit/FuseTube/tarball/v3.45-0-pre2","zipball_url":"https://api.github.com/repos/Fuseit/FuseTube/zipball/v3.45-0-pre2","body":"###
        Features\r\n\r\n* SAS-59 [API] When deleting a user allow the clearing of
        the profile data\r\n* PMI-4 Monolith to remove user ES document from MS\r\n\r\n###
        Bugfixes\r\n\r\n* CS-70 Audience composite is not removed when audience is
        deleted"},{"url":"https://api.github.com/repos/Fuseit/FuseTube/releases/11467704","assets_url":"https://api.github.com/repos/Fuseit/FuseTube/releases/114677[...]
