---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/Fuseit/FuseTube/compare/HEAD~1...HEAD?access_token=123token123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 123token123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4960'
      X-Ratelimit-Reset:
      - '1529680904'
      Etag:
      - W/"675f9a4d25e621969a62dfcb6ab2f621"
      Last-Modified:
      - Thu, 21 Jun 2018 07:31:32 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/Fuseit/FuseTube/compare/HEAD~1...HEAD","html_url":"https://github.com/Fuseit/FuseTube/compare/HEAD~1...HEAD","permalink_url":"https://github.com/Fuseit/FuseTube/compare/Fuseit:6653d2f...Fuseit:da06380","diff_url":"https://github.com/Fuseit/FuseTube/compare/HEAD~1...HEAD.diff","patch_url":"https://github.com/Fuseit/FuseTube/compare/HEAD~1...HEAD.patch","base_commit":{"sha":"6653d2f2da641dfbe84cc88a0da1d927bf3cd355","node_id":"MDY6Q29tbWl0MTY5NTcyMDo2NjUzZDJmMmRhNjQxZGZiZTg0Y2M4OGEwZGExZDkyN2JmM2NkMzU1","commit":{"author":{"name":"Vladimir
        Zhukov","email":"vzhukov@sphereinc.com","date":"2018-06-15T11:15:31Z"},"committer":{"name":"Vladimir
        Zhukov","email":"vzhukov@sphereinc.com","date":"2018-06-19T13:14:43Z"},"message":"hotfix
        FS-107 SSO Warking issue\n\nClear flash message which comes to saml from previous
        call","tree":{"sha":"338cebf1832a9274e1f5e75f6de7443656b89fee","url":"https://api.github.com/repos/Fuseit/FuseTube/git/trees/338cebf1832a9274e1f5e75f6de7443656b89fee"},"url":"https://api.github.com/repos/Fuseit/FuseTube/git/commits/6653d2f2da641dfbe84cc88a0da1d927bf3cd355","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/Fuseit/FuseTube/commits/6653d2f2da641dfbe84cc88a0da1d927bf3cd355","html_url":"https://github.com/Fuseit/FuseTube/commit/6653d2f2da641dfbe84cc88a0da1d927bf3cd355","comments_url":"https://api.github.com/repos/Fuseit/FuseTube/commits/6653d2f2da641dfbe84cc88a0da1d927bf3cd355/comments","author":{"login":"pironim","id":1135304,"node_id":"MDQ6VXNlcjExMzUzMDQ=","avatar_url":"https://avatars1.githubusercontent.com/u/1135304?v=4","gravatar_id":"","url":"https://api.github.com/users/pironim","html_url":"https://github.com/pironim","followers_url":"https://api.github.com/users/pironim/followers","following_url":"https://api.github.com/users/pironim/following{/other_user}","gists_url":"https://api.github.com/users/pironim/gists{/gist_id}","starred_url":"https://api.github.com/users/pironim/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pironim/subscriptions","organizations_url":"https://api.github.com/users/pironim/orgs","repos_url":"https://api.github.com/users/pironim/repos","events_url":"https://api.github.com/users/pironim/events{/privacy}","received_events_url":"https://api.github.com/users/pironim/received_events","type":"User","site_admin":false},"committer":{"login":"pironim","id":1135304,"node_id":"MDQ6VXNlcjExMzUzMDQ=","avatar_url":"https://avatars1.githubusercontent.com/u/1135304?v=4","gravatar_id":"","url":"https://api.github.com/users/pironim","html_url":"https://github.com/pironim","followers_url":"https://api.github.com/users/pironim/followers","following_url":"https://api.github.com/users/pironim/following{/other_user}","gists_url":"https://api.github.com/users/pironim/gists{/gist_id}","starred_url":"https://api.github.com/users/pironim/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pironim/subscriptions","organizations_url":"https://api.github.com/users/pironim/orgs","repos_url":"https://api.github.com/users/pironim/repos","events_url":"https://api.github.com/users/pironim/events{/privacy}","received_events_url":"https://api.github.com/users/pironim/received_events","type":"User","site_admin":false},"parents":[{"sha":"e981a530771fde0475c2e736849c7c42fe083e19","url":"https://api.github.com/repos/Fuseit/FuseTube/commits/e981a530771fde0475c2e736849c7c42fe083e19","html_url":"https://github.com/Fuseit/FuseTube/commit/e981a530771fde0475c2e736849c7c42fe083e19"}]},"merge_base_commit":{"sha":"6653d2f2da641dfbe84cc88a0da1d927bf3cd355","node_id":"MDY6Q29tbWl0MTY5NTcyMDo2NjUzZDJmMmRhNjQxZGZiZTg0Y2M4OGEwZGExZDkyN2JmM2NkMzU1","commit":{"author":{"name":"Vladimir
        Zhukov","email":"vzhukov@sphereinc.com","date":"2018-06-15T11:15:31Z"},"committer":{"name":"Vladimir
        Zhukov","email":"vzhukov@sphereinc.com","date":"2018-06-19T13:14:43Z"},"message":"hotfix
        FS-107 SSO Warking issue\n\nClear flash message which comes to saml from previous
        call","tree":{"sha":[...]
